* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

footer{
    /**background-color: #111;*/
}
.footer-sign{
    display: flex;
    justify-content: center;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px
}

.footer-socials{
    display: flex;
    justify-content: center;
}

.footer-links{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%

}
.footer-links i {
    font-size: 2rem;
    color: black;
    opacity: 0.9;

}